nav.fixed-menu{
    position: fixed;
    right: 0;
    top:50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav.fixed-menu>.btn{
    white-space:nowrap;
}
div.commodity{
    display: flex;
    flex-direction: column;
    width:200px;
    align-items: center;
}
div.commodity>img{
    width: 100%;
}
.btn{
    padding:5px 15px;
    border: 1px solid white;
    background-color: lightgray;
    cursor: pointer;
    transition: background-color 0.5s;
}
.btn:hover{
    background-color: white;
    border: 1px solid gray;
}
.btn>i{
    margin-right: 5px;
}